<div class="container mt-4">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Tambah Plan</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right" style="background-color: #f4f6f9">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Tambah Plan</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Input Data Plan</div>
        <div class="card-body">
          <!-- Form untuk tambah plan -->
          <form action="/plans" method="POST">
            <div class="form-group">
              <label for="activity">Pilih Activity</label>
              <select name="id_activity" id="activity" class="form-control" required>
                <% activities.forEach(function(activity) { %>
                <option value="<%= activity.id %>">
                  <%= activity.no_activity %> - <%= activity.name_perusahaan %>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="form-group">
              <label for="tanggal_fu">Tanggal FU</label>
              <input type="date" name="tanggal_fu" id="tanggal_fu" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="tipe_fu">Tipe FU</label>
              <input type="text" name="tipe_fu" id="tipe_fu" class="form-control" required />
            </div>

            <!-- Tombol submit untuk menyimpan plan -->
            <button type="submit" class="btn btn-success">Simpan Plan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
